body, html {
margin: 0;
padding: 0;
background-color: rgb(61, 61, 61);


}
#container{
    
    display: flex;
    flex-direction: row;
    gap:5px;
    justify-content: center;
    align-items: center;
    text-align: center;
   
 
}
#resultado-partida-actual{
    height: 30px;
    font-size: 30px;
    margin-top: 20px;
    font-weight: 800; 
    color: rgb(2, 141, 255);
}

 
#boton-iniciar-partida:hover{
 background-color: rgb(59, 221, 100);
 color: white;
}
#boton-iniciar-partida{
    height: 50px;
    font-size: 20px;
    font-family: 'Gluten', cursive;
    background-color: rgb(37, 141, 63);
    border: 5px solid black;
    border-radius: 10px;
}
.ocultar{
    display: none;
}
p {
    font-family: 'Gluten', cursive;
    font-size: 30px;
    color: white;
}
#area-de-juego{
   
    transform: perspective( 700px ) rotateX( 45deg );
    width: 410px;
    height: 410px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    border-radius: 50%;
    border: solid black 20px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);

}
.deshabilitar-click{
    pointer-events:none
}

.desactivo{
    filter: brightness(30%);
-webkit-filter: brightness(30%);
-moz-filter: brightness(30%);
-o-filter: brightness(30%);
-ms-filter: brightness(30%);
   
}
.informacion-partida{
    color: white;
    margin-top: 20px;
 
    font-size: 30px;
    font-family: 'Gluten', cursive;
}    
#contador-de-turnos{
    margin-top: 20px;
} 
.area{
    
    width: 12.5em;
    height: 12.5em;
   
}
.rojo{
    background-color: rgb(255, 49, 49);

    
    
}
.amarillo{
    background-color: rgb(255, 255, 79);
 
    
}
.azul{
    background-color: rgb(45, 66, 255);

    
}
.verde{
    background-color: rgb(53, 230, 53);

}

@media (max-width: 1240px) {
    #container{
      flex-direction: column;
     }
     #area-de-juego{
        top:100px; 
        margin: 10px;
     }
}
@media (max-width:600px){
    .area{
    
        width: 6.5em;
        height: 6.5em;
       
    }
    #area-de-juego{
       
        width: 220px;
        height: 220px;
        gap: 10px;
    }
}
  
   